<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="jdohnnyjangjang">

<!-- 	<listeners>
		<listener class-name="Testrail_listeners.TestNgTestRailListener" />
	</listeners> -->
	<test name="Test">
		<classes>

			<class name="Script._1_Login" />
			<class name="Script._2_MainScreen" />
			<class name="Script._3_Contract" />
	

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->



