<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="jdohnnyjangjang">

<!--  	<listeners>
		<listener class-name="Testrail_listeners.TestNgTestRailListener" />
	</listeners>  -->
	<test name="Test">
		<classes>
<class name="Test.ElieClass" /> 
<class name="Test.ElieClass2" />
<class name="Test.ElieClass3" />

<!-- 			<class name="Test._2_MainScreen" /> 
			
 			<class name="Test._3_Contract" />
	  -->

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->



