<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="jdohnnyjangjang">

	<listeners>
		<listener class-name="Listener.ListenerTest" />
	</listeners>


	<test name="Test">
	
	
	<parameter name="Signatory_1_email"  value="joshin3@getnada.com" />
	<parameter name="Signatory_2_name" value="조니6번" />
	<parameter name="Signatory_2_email" value="joshin6@getnada.com" />

	
		<classes>
		


			<!-- <class name="Test.Testclass" /> -->

			<!-- <class name="Test.BaseScript_1_ComplexSign" /> -->
			<!-- <class name="Test.BaseScript_2_refuseSign" /> -->
			<!-- <class name="Test_Contract_6Status.BaseScript_3_CancelSign" /> -->

<!-- 	<class name="Test_Regression_TC_Contract.NomarlAccount_NormalSign_Off_Case" />
	<class name="Test_Regression_TC_Contract.NomarlAccount_NormalSign_On_Case" /> 
	 -->
	<class name="Test_Regression_TC_Contract.NomarlAccount_BulkRequest_Off_Case" /> 
	
	<!-- <class name="Test_Regression_TC.GNB" /> -->




			<!-- <class name="Test.ElieClass" /> -->
			<!-- <class name="Test.ElieClass2" /> -->

			<!-- <class name="Test.ElieClass3" /> -->

			<!-- <class name="Test._2_MainScreen" /> <class name="Test._3_Contract" /> -->

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->


